{% extends 'base.html' %}
{% block content %}
<h1 class="title mb-5">Patients</h1>

<div class="is-flex is-align-items-center" style="position: sticky; top: 0; z-index: 1;">
  <div class="my-4">
    <a href="{{ url_for('patients.add_patient') }}" class="button is-primary">➕ Thêm BN mới</a>
  </div>

  <div class="field my-4 is-flex-grow-4">
    <div class="control">
      <input class="input is-medium" type="text" placeholder="🔍 Search by kid name, parent name, or phone"
        id="searchInput" onkeyup="filterTable()">
    </div>
  </div>
</div>

<div class="table-container">
  <table class="table is-fullwidth is-striped is-hoverable" id="patientTable">
    <thead>
      <tr>
        <th>Tên Bé</th>
        <th>Ngày sinh</th>
        <th>Tên Ba Mẹ</th>
        <th>Điện thoại</th>
        <th>Địa chỉ</th>
        <th>Ngày khám gần nhất</th>
        <th class="has-text-centered">Thao tác</th>
      </tr>
    </thead>
    <tbody>
      {% for patient in patients %}
      <tr>
        <td>{{ patient.kid_name }}</td>
        <td>{{ patient.kid_birthday }}</td>
        <td>{{ patient.name }}</td>
        <td>{{ patient.phone }}</td>
        <td>{{ patient.address }}</td>
        <td>{{ patient.last_visit or '—' }}</td>
        <td class="has-text-centered">
          <div class="buttons are-small is-centered">
            <a href="{{ url_for('exam.new_exam', patient_id=patient.id) }}" class="button is-link">Tới màn hình khám
              bệnh</a>
            <a href="{{ url_for('patients.edit_patient', patient_id=patient.id) }}" class="button is-warning">Sửa thông
              tin</a>
            <a href="{{ url_for('patients.view_exams', patient_id=patient.id) }}" class="button is-info">Lịch sử khám
              bệnh</a>
            <a href="{{ url_for('patients.manage_packages', patient_id=patient.id) }}" class="button is-success">Quản lý
              gói</a>
            <a href="{{ url_for('patients.view_package_usage', patient_id=patient.id) }}" class="button is-primary">Xem
              sử dụng gói</a>
          </div>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

<script>
  function filterTable() {
    const input = document.getElementById("searchInput").value.trim().toLowerCase();
    const rows = document.querySelectorAll("#patientTable tbody tr");

    rows.forEach(row => {
      const kid_name = row.cells[0].textContent.toLowerCase();
      const parent_name = row.cells[2].textContent.toLowerCase();
      const phone = row.cells[3].textContent.toLowerCase();

      if (kid_name.includes(input) || parent_name.includes(input) || phone.includes(input)) {
        row.style.display = "";
      } else {
        row.style.display = "none";
      }
    });
  }
</script>
{% endblock %}